body{
	background: url("image/background-image.jpg") center/cover no-repeat fixed;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: none;
	color: #000;
}
input:focus{
	outline: none;
	box-shadow: none;
	transition: none;
}
.menu-icon{
	background: url("image/icons/menu1.png") no-repeat;
}
.bold {
	font-weight:500;
}
.green{
	color: #036635;
}
.green-bg{
    background: #036635;
}
.btn-green {
	border: 1px solid #036635;
	background-color: #036635;
	color: #fff;
	border-radius: 7px;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
.btn-green:hover {
	border: 1px solid #036635;
	background-color: transparent;
	color: #000;
	border-radius: 7px;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
button.btn-transparent {
	border: none;
}
.btn-transparent{
	color: #000;
	border-radius: 7px;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
	background-color: #dddddd;
}
.btn-transparent:hover{
	background-color: #eee;
	color: #000;
	border-radius: 7px;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
.btn-grop-trancy {
	background-color: transparent;
	color: #000;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
.btn-grop-trancy:hover,
.btn-grop-trancy:focus{
	background-color: #ccc;
	color: #000;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
.radio-switch-btn{
	border: 1px solid #ccc;
	border-radius: 0;
	color: #000;
	padding: 5px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-decoration: none;
}
.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    background-color: #eee;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.pos-relative {
	position: relative;
}
button:focus {
	outline:none;
}
.box-shadow-allside {
	border: 1px solid #eee;
	box-shadow: 0 0 30px rgba(0,0,0, .25);
}
.vertical-seperator {
	border-right: 1px solid #000;
}
.horizontal-seperator {
	border-bottom: 1px dashed #ccc;
	margin-top: 30px;
	margin-bottom: 30px;
}
.horizontal-seperator-green {
	border-bottom: 2px solid #036635;
	margin-top: 30px;
	margin-bottom: 30px;
}
input[type="file"]{
	display: none!important;
}
.m-form .form-group.m-form__group.row [class*='col-'] {
    position: relative;
    margin-bottom: 20px;
}

.m-form input,
.m-form textarea {
    font-size: 1rem;
    display: block;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid #ebedf2;
    border-radius: 0;
}
.m-form input:focus {
    outline: none;
    box-shadow: none;
}
.m-form label.xen-label {
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: 10px;
    left: 15px;
    -webkit-transition: .2s ease all;
    -moz-transition: .2s ease all;
    transition: .2s ease all;
    pointer-events: none;
    color: #999;
}
.m-form input:focus~label.xen-label,
.m-form input:valid~label.xen-label,
.m-form textarea:focus~label.xen-label,
.m-form textarea:valid~label.xen-label,
label.xen-label.active {
    font-size: .9rem;
    top: -15px;
    color: #036635;
}
.form-control:focus{
	border-color: #036635;
}
/*.title-withunderline {
	text-decoration: underline;
}*/
.img-bg {
	background-color: #eee;
}
form small {
	color: #a49f9f;
}
.modal-header .close {
	position: absolute;
	right: 16px;
}
form .pos-relative .datepicker + label + img.icon-calendar {
	position: absolute;
	right: 10px;
	bottom: 5px;
}
form .pos-relative .datepicker + img.icon-clock {
	position: absolute;
	right: 10px;
	bottom: 5px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #036635;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #036635;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #036635;
}
span.select2-selection.select2-selection--single{
	height: 43px;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
}
.select2-container--default .select2-selection--multiple {
    height: 43px;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    cursor: text;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
     border: none; 
    border-bottom: 1px solid #000;
    /*outline: 0;*/
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 13px;
    padding: 0 4px;
}
span.select2-selection.select2-selection--single:focus{
	outline: none;
	box-shadow: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 50px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px;
}
.lower-alpha li{
	counter-increment: kv;
}
.lower-alpha li::before{
    content:"(" counter(kv, lower-alpha)") ";
    position: absolute;
    margin-top: 10px;
}
.lower-alpha li input {
	padding-left: 30px;
}
.numeric li{
	counter-increment: myIndex;
	padding-left: 40px;
}
.numeric li::before{
    content:"(" counter(myIndex)") ";
    font-weight: bold;
    position: absolute;
    margin-left: -45px;
    margin-top: 0px;
    font-size: 25px;
}
input[type='date']{
	padding-right: 40px;
}
.green-marker li::before {
	content: "•"; 
	font-size: 24px;
	color: #036635;
	margin-right: 10px;
}
.badge.badge-complete {
	background-color: yellowgreen;
	color: #fff;
	padding: 5px;
}
.badge.badge-pending {
	background-color: yellow;
	color: #fff;
}
 #icons-blog .modal-body .img-bg img {
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
#icons-blog .icons-wrap{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#icons-blog .modal-body a:hover .icons-wrap small {
	color: #000;
	font-weight: 600;
}
#navigation-bar ul.side-bar-nav li.nav-head a.main-nav {
    display: block;
    border-bottom: 1px solid #000;
    padding: 10px 5px 10px 50px;
    display: flex;
    justify-content: space-between;
}
#navigation-bar .animate {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#navigation-bar .nav-controller {
    position: fixed;
    top: 20px;
    right: 15px;
    padding: 5px 6px 1px;
    color: rgb(51, 51, 51);
    font-size: 12pt;
    cursor: pointer;
    z-index: 300;
}
#navigation-bar .nav-controller span {
	font-size: 32px;
}
#navigation-bar .nav-controller.green span {
	font-size: 32px;
	color: #036635;
}
#navigation-bar nav ~ .nav-controller > .controller-open {
    display: inline-block;
}

#navigation-bar nav ~ .nav-controller > .controller-close {
    display: none;
}
#navigation-bar nav.focus ~ .nav-controller > .controller-open {
    display: none;
}

#navigation-bar nav.focus ~ .nav-controller > .controller-close {
    display: inline-block;
}

#navigation-bar nav {
    position: fixed;
    top: 0px;
    right: -100%;
    padding-top: 65px;
    padding-bottom: 15px;
    height: 100%;
    width: 600px;
    text-align: left;
    background-color: rgb(255, 255, 255);
    box-shadow: -3px 0px 3px 0px rgba(160, 160, 160, 0.30);
    z-index: 100;    
    overflow: auto;
}

#navigation-bar nav.focus {
    /*right: -200px;*/
    right: 0px;
    width: 300px;
}
#popup {
	margin-top:100px;
}
#navigation-bar nav > ul {
    padding: 0px 10px;
}
#navigation-bar nav > ul {
    list-style: none;
}
#navigation-bar nav > ul > li {
    margin: 5px 0px;   
}
#navigation-bar nav > ul > li > a {
    color: rgb(190, 190, 190);   
}
#navigation-bar nav > ul > li > a.main-nav {
	border-bottom: 1px solid #000;
	font-weight: 400;
	color: #000;
}
#navigation-bar nav > ul > li.nav-head {
	position: relative;
}
#navigation-bar nav > ul > li.nav-head > img {
	position: absolute;
}
#navigation-bar .sub-navs {
	padding-left: 20px;
	margin-bottom: 15px;
}
#navigation-bar nav > ul.side-bar-nav > li > a:hover {
    font-size: 1.00em;
    font-weight: 500;
    color: rgb(51, 51, 51);
    text-decoration: none;
}
#navigation-bar nav .collapse > ul.sub-navs > li > a {
	text-decoration: none;
	color: #000;
}
#navigation-bar nav .collapse > ul.sub-navs > li > a:hover{
	font-weight: 500;
	text-decoration: none;
	color: #000;
}
#passport-no{
	display: none;
}
#referraled-family{
	display: none;
}
#signature-verifies {
	border: 1px solid #036635;
	padding: 30px;
}
#searchbox input {
	border: none;
	border-bottom: 1px solid #036635;
	padding-right: 40px;
    border-radius: 0;
    background: transparent;
}
#searchbox input:focus {
	box-shadow: none;
}
#searchbox .input-group-append {
    position: absolute;
    right: 10px;
    margin-top: 10px;
    z-index: 12;
}
#searchbox-icon-left input{
	padding-left: 30px;
}

#searchbox-icon-left .input-group-append{
	position: absolute;
    margin-top: 15px;
    z-index: 12;
    padding-left: 5px;
}
#email #sidebar.email-chat-list {
    height: calc(100vh - 190px);
    position: fixed;
    padding: 10px;
    max-width: 18%;
}
#email #sidebar {
	background-color: #036635;
}
#email #sidebar #compose-btn {
	background: #fff;
	color: #000;
}
#email .list-group .list-group-item {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
    border: none;
    background-color: transparent;
}
#email .list-group .list-group-item .badge{
    padding-right: 10px;
    padding-top: 5px;
}
#email .section-head{
    margin-top: 10px;
    padding: 10px 5px;
    color: #fff;
    border-top: 1px solid;
    border-bottom: 1px solid;
}
#email #chat-users .media img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #ececec;
}
#email #chat-users .user-name-wrap {
    display: flex;
    height: 35px;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
#email #chat-users .user-name-wrap .chat-more-action {
    padding: 10px 10px 0 20px;
    color: #fff;
}
#email #chat-sidebar.email-chat-list {
    height: calc(100vh - 190px);
    margin-right: -15px;
    margin-left: 10px;
    padding: 20px;
    background-color: #fff;
    position: fixed;
    top: 172px;
    max-width: 22%;
}
#email #chat-sidebar #users-list .media {
    border-bottom: 1px solid #eee;
    padding: 0 15px;
}
#email #chat-sidebar #users-list .media:hover {
    background-color: #eaebf0;
}
#email #chat-sidebar #users-list .user-link {
    display: flex;
    width: 100%;
}
#email #chat-sidebar #users-list .media img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
#email #chat-sidebar #users-list .chat-user-details .user-name {
    font-weight: bold;
}

#email #chat-sidebar #users-list .chat-user-details p {
    font-size: 12px;
    color: hsla(0, 0%, 50%, 1);
}
#email #chat-sidebar #users-list .user-name, #email-page #chat-sidebar #users-list .chat-excerpt {
    margin: 0;
    padding: 0;
}
#email #read-mails {
    height: calc(100vh - 190px);
    padding: 25px 25px 15px 10px;
}
#email #read-mails .mail-subject-wrapper .user-profile-img {
    height: 70px;
}
#email #read-mails .mail-subject-wrapper .user-name {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: 16px;
}
#email #read-mails .mail-body {
    margin-top: 40px;
}
#lunch .cost-wrap {
	font-size: 30px;
}
#lunch .view-details {
	position: absolute;
	top: 10px;
    left: 340px;
}
#lunch #allergy{
	display: none;
}
#emergency-reached{
	background-color: #eee;
	border: 1px solid #000;
	padding-top: 10px;
	text-align: center;
	font-size: 18px;
}
.upload-photo .profile-pic {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.upload-photo .file-upload {
    display: none;
}
.upload-photo .circle {
    overflow: hidden;
    width: 128px;
    height: 128px;
    border: 5px solid green;
    background-color: #fff;
   border-radius: 1000px !important;
    /*background: url("image/image.png") no-repeat;*/
}
.upload-photo img {
    max-width: 100%;
    height: auto;
}
.upload-photo .p-image {
  position: absolute;
  top: 98px;
  right: 10px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-photo .p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-photo .upload-button {
  font-size: 1.2em;
}

.upload-photo .upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.tabbs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #036635;
  	transform: scale(1.4);
  	cursor: zoom-out;

}
.tabbs .nav-pills .nav-link {
    border-radius: 0; 
    border: 1px solid #036635;
    margin-left: 30px;
  	transition: transform 0.25s ease;
  	cursor: zoom-in;
}
.simple-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #036635;
    background-color: transparent;
    border-bottom: 2px solid #036635;
	font-weight: 700;
}
.simple-tabs .nav-pills .nav-link {
    border-radius: 0; 
}
#checklist-table tbody.table-body{
	box-shadow: 0 0 20px rgba(0,0,0, .25);
}
#checklist-table tbody.table-body .clickable-row{
	 box-shadow: 0 4px 10px -6px #222;
}
#checklist-table .table-body .clickable-row:active{
	background: url("image/icons/checked.png") no-repeat #eee;
}
#desicion .green-marker li{
	color: gray;
}
#officialnote small.text-right {
    position: absolute;
    right: 5px;
    top: 0;
}
.swiper-wrapper .swiper-slide{
	box-shadow: 0 0 30px rgba(0,0,0, .25);
}
.swiper-wrapper .img-wrap{
	height: 350px;
	border: 3px solid #fff;
	padding: 10px;
	position: relative;
}
.swiper-wrapper .swiper-slide:hover{
    transform: scale(1.2);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.swiper-wrapper ul.social-icon-wrap{
    position: absolute;
    top: 10px;
    right: 15px;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("image/back.png");
    left: 10px;
    right: auto;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("image/forward.png");
    right: 10px;
    left: auto;
}
#albums .clickable{
	cursor: pointer;
}
#stud-info .applicant-pic{
    position: absolute;
}
#stud-info .applicant-pic img{
    position: relative;
    top: 60px;
}